.login-form {
  margin-top: 50px;
}
/*Map CSS*/
#map {
  height: 500px;
  width: 800px;
  margin: 10px auto;
}

.infoWindowContent {
  font-size: 14px;
  border-top: 1px solid lightgreen;
  padding-top: 10px;
}

h2 {
  margin-bottom: 0;
  margin-top: 0;
  color: green;
}


#class{
  width: 800px;
  display: block;
  margin: 5px auto;
}


/*Table css*/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}