.login-form {
  margin-top: 50px;
}
/*Map CSS*/
#map {
  height: 500px;
  width: 1000px;
  margin: 10px auto;
}
#leftMap {
  height: 500px;
  width: 700px;
  margin: 10px auto;
}


.infoWindowContent {
  font-size: 14px;
  border-top: 1px solid lightgreen;
  padding-top: 10px;
}
.header {
  height: 135px;
  background-image: url("../assets/header3.png");
}
.esh {
  color: #fff;
  font-family: "Courier New", Courier, monospace, serif;
}
p {
  color: #fff;
}
.hos {
  font-family: "Courier New", Courier, monospace, serif;
}