<div >
    <div id="map"></div>
    
  </div>
<table class="table table-hover">
	<tr>
		<th>Name</th>
		<th>Phone Number</th>
		<th>Address</th>
		<th>Quantity</th>
		<th>Order Date</th>
		<th>Total Price</th>
		<th></th>
	</tr>
	<tr ng-repeat="marker in markers" ng-click="openInfoWindow($event, marker)">
		<td>{{marker.user}}</td>
		<td>{{marker.phoneNumber}}</td>
		<td>{{marker.address}}</td>
		<td>{{marker.quantity}}</td>
		<td>{{marker.orderDate}}</td>
		<td>{{marker.totalPrice}}</td>
		<td><a ng-click="delivered($index)">delivered</a></td>
	</tr>
</table>